<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>gitlab-maven</id>
            <username>gitlab+deploy-token-1503</username>
            <password>syNLTHRxthusN2J_NP4N</password>
        </server>
    </servers>
</settings>
